/*==================== RESET STYLES ====================*/
@import 'import/reset.scss';
/*==================== RESET STYLES ====================*/

/*==================== FONTS ====================*/
@import 'fonts.scss';
/*==================== FONTS ====================*/

/*==================== VARIABLES ====================*/
$maxWidthLayout: 1440;
$maxWidthContainer: 1200;
$mainFont: 'Open Sans', sans-serif;
$whiteColor: #fff;
$blackColor: #000;
/*==================== VARIABLES ====================*/

/*==================== MIXINS ====================*/
// responsive value
@mixin respValue($property, $startSize, $minSize, $type) {
  $addSize: $startSize - $minSize;
  @if $type==1 {
    //Только если меньше контейнера
    #{$property}: $startSize + px;
    @media (max-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
    }
  } @else if $type==2 {
    //Только если больше контейнера
    #{$property}: $startSize + px;
    @media (min-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthLayout - 320}));
    }
  } @else {
    //Всегда
    #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthLayout - 320}));
  }
}
// snippet (rv)
// responsive value
/*==================== MIXINS ====================*/

/*==================== BASIC PARAMETERS ====================*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: $mainFont;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  background: $whiteColor;
  color: $blackColor;

  @media (max-width: 991.98px) {
    &.lock {
      overflow: hidden;
    }
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.main {
  flex: 1 1 auto;

  &__intro,
  &__select-content {
    &:not(:last-child) {
      @include respValue('margin-bottom', 90, 60, 1);
    }
  }

  &:not(:last-child) {
    @include respValue('margin-bottom', 120, 90, 1);
  }
}
/*==================== BASIC PARAMETERS ====================*/

/*==================== REPEAT BLOCK ====================*/
//! Container
[class*='__container'] {
  width: 100%;
  max-width: $maxWidthContainer + px;
  padding: 0 15px;
  margin: 0 auto;
}

//! Responsive
.ibg {
  position: relative;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}

//! Content
.header-content {
  > *:not(:last-child) {
    margin: 0 0 16px 0;
  }
}

.title-h1 {
  font-size: 50px;
  text-transform: uppercase;
}

.title-h2 {
  font-size: 30px;
  text-transform: uppercase;
}

.title-h3 {
  font-size: 20px;
  text-transform: uppercase;
}

.text {
  > *:not(:last-child) {
    margin: 0 0 8px 0;
  }

  p {
    line-height: 1.6;
  }
}

//! Buttons
.btn {
  display: inline-block;
  word-wrap: break-word;

  position: relative;
  z-index: 3;

  padding: 15px 30px;
  background: #3d96f4;
  border-radius: 50px;
  overflow: hidden;
  transition: all 0.2s linear;

  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.8px;
  color: #f5f5f5;

  &:hover {
    background: #2879d0;
    color: #f5f5f5;
  }
}

//! Links
.link {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.6px;

  position: relative;
  z-index: 3;

  @media (min-width: 991.98px) {
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: -4px;
      left: 0;
      display: inline-block;
      background: #3d96f4;
      transform: scale(0);
      transition: all 0.1s linear;
    }

    &:hover {
      &::before {
        transform: scale(1);
      }
    }
  }
}
/*==================== REPEAT BLOCK ====================*/

/*==================== HEADER ====================*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  padding: 5px 0;
  background: #e5e5e5;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    z-index: 2;
    transition: all 0.2s linear;
  }

  &.scroll {
    &::before {
      top: 0;
      background: #f5f5f5;
      // box-shadow: 0 0 3px 0.5px #070707;
    }
  }

  @media (max-width: 991.98px) {
    &.active {
      &::before {
        top: 0;
        background: #f5f5f5;
        box-shadow: 0 0 3px 0.5px #070707;
      }
    }
  }

  &__body {
    display: flex;
    align-items: center;
    min-height: 100px;
    gap: 50px;

    @media (max-width: 991.98px) {
      justify-content: flex-end;
      min-height: 80px;
      gap: 30px;
    }
  }

  &__menu {
    flex: 1 1 auto;
  }

  &__auth {
  }

  &__burger {
  }
}

.menu-header {
  @media (max-width: 991.98px) {
    position: fixed;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    background: #efefef;
    padding: 150px 15px 30px 15px;
    visibility: hidden;
    overflow: auto;
    transition: all 0.2s linear;

    display: block;

    &.active {
      top: 0;
      visibility: visible;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 30px;
    row-gap: 10px;

    @media (max-width: 1023.98px) {
      column-gap: 15px;
    }

    @media (max-width: 991.98px) {
      flex-direction: column;
      align-items: stretch;
      text-align: center;
      gap: 30px;
    }
  }

  &__link {
    @media (max-width: 991.98px) {
      display: block;
      font-size: 20px;
      line-height: 1.6;
    }
  }
}

.burger {
  display: none;

  @media (max-width: 991.98px) {
    display: block;
    width: 30px;
    height: 20px;
    background: transparent;

    position: relative;
    z-index: 3;

    span,
    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 1.6px;
      left: 0;
      background: $blackColor;
      transition: all 0.2s linear;
    }

    span {
      top: 50%;
      transform: translate(0, -50%) scale(1);
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    &.active {
      span {
        transform: translate(0, -50%) scale(0);
      }

      &::before {
        top: 9px;
        transform: rotate(-45deg);
      }

      &::after {
        bottom: 9px;
        transform: rotate(45deg);
      }
    }
  }
}

/*==================== INTRO ====================*/

// Custom Select
// @import 'import/custom-select.scss';

// Choices Select
// @import url('https://cdn.jsdelivr.net/npm/choices.js@9.0.1/public/assets/styles/choices.min.css');

.intro {
  @include respValue(padding-top, 180, 150, 1);

  &__container {
  }

  &__header-content {
    margin: 0 0 50px 0;
  }

  &__title {
  }

  &__text {
  }

  &__form {
  }
}

.form {
  &__item {
    > *:not(:last-child) {
      margin: 0 0 30px 0;
    }
  }

  &__header-content {
  }

  &__title {
  }

  &__text {
  }

  &__select {
    display: block;
    max-width: 300px;
    width: 100%;

    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.6px;

    background: #f5f5f5;
    padding: 15px 30px;
    border-radius: 10px;
    cursor: pointer;
  }

  @media (min-width: 991.98px) {
    &.scroll-form {
      position: fixed;
      width: 100%;
      padding: 10px 0;
      top: 110px;
      left: 0;
      background: #fff;
      box-shadow: 0 0px 7px 0 #000;

      .form__header-content {
        display: none;
      }

      .form__select {
        max-width: 500px;
      }

      .form__btn {
        max-width: 250px;
      }

      .form__item {
        display: flex;
        align-items: center;
        gap: 15px;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 15px;

        > *:not(:last-child) {
          margin: 0;
        }
      }
    }
  }
}

/*==================== SELECT CONTENT ====================*/
.select-content {
  @media (min-width: 991.98px) {
    &_scroll {
      padding: 150px 0 0 0;
    }
  }

  &__container {
  }

  &__item {
    display: none;
    opacity: 0;
    transition: all 0.2s linear;

    &_form {
    }

    &_active {
      display: grid;
      opacity: 1;
    }

    &_grid {
    }

    &_content {
    }
  }

  &__form {
    display: grid;
    grid-auto-flow: row;
    grid-auto-columns: minmax(auto, 500px);
    gap: 30px;
  }

  &__form-box {
    display: grid;
    grid-auto-flow: row;
    gap: 5px;

    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.6px;

    input {
      box-shadow: 0 0 5px 1px #000;
      background: #f5f5f5;
      min-height: 50px;
      padding: 0 10px;
      border-radius: 5px;
    }

    &_text {
    }

    &_numb {
    }

    &_phone {
    }

    &_email {
    }

    &_date {
    }

    &_about-text {
      width: 320px;
      height: 220px;

      textarea {
        box-shadow: 0 0 3px 1px #000;
        background: #f5f5f5;
      }
    }

    &_file {
      position: relative;

      input {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        visibility: hidden;
      }

      label {
        padding: 15px 30px;
        background: #4fbb65;

        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 300px;
        border-radius: 30px;
        color: #e5e5e5;
      }
    }

    &_pass {
    }
  }

  &__checkbox {
    position: relative;

    input {
      display: none;
    }

    label {
      padding: 0 0 0 70px;
      transition: all 0.2s linear;
      font-size: 20px;
      font-weight: 500;
      cursor: pointer;
    }

    &::before {
      content: '';
      position: absolute;
      width: 50px;
      height: 20px;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
      background: #bfc0c4;
      border-radius: 20px;
      transition: all 0.2s linear;
      cursor: pointer;
    }

    &::after {
      content: '';
      position: absolute;
      width: 28px;
      height: 28px;
      top: 50%;
      left: 0px;
      transform: translate(0, -50%);
      border-radius: 50%;
      background: #bfc0c4;
      transition: all 0.2s linear;
      cursor: pointer;
    }

    &.active {
      color: #4fbb65;

      &::before,
      &::after {
        background: #4fbb65;
      }

      &::after {
        left: 22px;
      }
    }
  }

  &__button {
    justify-self: start;
  }
}

.select-content__item_active.select-content__item_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;

  div {
    background: #333;
    border-radius: 3px;
    height: 250px;
  }
}

.radio {
  &__item {
    position: relative;

    &:not(:last-child) {
      margin: 0 0 18px 0;
    }

    input {
      display: none;
    }

    label {
      display: block;
      padding: 0 0 0 50px;
      transition: all 0.2s linear;
      font-size: 20px;
      font-weight: 500;
      cursor: pointer;
    }

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0px;
      transform: translate(0, -50%);
      width: 28px;
      height: 28px;
      background: #bfc0c4;
      border-radius: 50%;
      cursor: pointer;
    }

    &::after {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      top: 50%;
      left: 4px;
      transform: translate(0, -50%) scale(0);
      background: #4fbb65;
      border-radius: 50%;
      transition: all 0.2s linear;
      cursor: pointer;
    }

    &.active {
      label {
        color: #2879d0;
      }

      &::after {
        transform: translate(0, -50%) scale(1);
      }
    }
  }
}

.modal-body {
  &__form {
    display: grid;
    grid-auto-flow: row;
    gap: 50px;
  }

  &__form-item {
    display: grid;
    grid-auto-flow: row;
    gap: 15px;

    label {
      font-size: 20px;
      position: relative;
      justify-self: start;

      &::before {
        content: '*';
        position: absolute;
        top: -10px;
        right: -10px;
        font-size: 30px;
        color: red;
      }
    }

    input {
      box-shadow: 0 0 3px 0 #000;
      border-radius: 5px;
      padding: 20px;

      &:focus {
        box-shadow: 0 0 5px 1px #3d96f4;
      }
    }
  }
}
